*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 110px;
    background: #A5E887;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

#LogoFeira{
    height: 80%;
    width: 120px;
}

.search{
    width: 60vw;
    height: 45px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;

    margin-left: 3%;
}

#LogoFind{
    height: 30px;
    width: 30px;
    margin-left: 3%;
}

.text-search input[type="text"] {
    width: 18vw;
    height: 28px;

    margin-left: 10px;

    border: none;
    outline: none;
    
    color: #acacac;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

#LogoUser{
    width: 30px;
    height: 31px;
    
    margin-left: 47%;

    cursor: pointer;
}

#LogoChat{
    width: 40px;
    height: 31px;

    margin-left: 3%;
}

#UserInfo{
    position: absolute;
    width: 17vw;
    height: 16vh;
    top: 10%;
    left: 76%;

    border-radius: 3%;
    background: #fff;
    z-index: 2;
}

#LogoConfig{
    width: 10%;
    height: 8%;
}

#LogoExit{
    width: 10%;
    height: 8%;
}

.MeusDados{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin-left: 3%;
    margin-top: 3%;
}

.Sair{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin-left: 4%;
    margin-top: 3%;
}

a{
    text-decoration: none;
}

#UserInfo h2{
    margin-top: 3%;
    margin-left: 5%;

    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;

    color: #000;
}

#UserInfo p{
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #9B9B9B;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 510px;
    margin-top: 30px;
}

#Hortifrutas{
    position: relative;
    width: 90vw;
    height: 256px;
    z-index: 1;

    border-radius: 5px;
}

.banca{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 196px;

    left: 5%;
    top: 55%;
}

#ProfileBanca{
    position: relative;
    width: 140px;
    height: 140px;
    
    top: 15%;
}

.banca h2{
    position: relative;
    width: 200px;
    height: 35px;

    top: 43%;
    left: 1%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #1C1B1F;
}

#Avaliacao{
    position: relative;
    width: 12px;
    height: 11px;

    top: 50%;
    left: 1%;
}

.banca p{
    position: relative;
    width: 20px;
    height: 18px;

    top: 49%;
    left: 1%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #00AA95;
}

.banca h4{
    position: relative;
    width: 90px;
    height: 30px;

    top: 43%;
    left: 65%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;

    color: #00AA95;
}

.barras{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 76px;

    left: 5%;
    top: 82%;
}

.search-horti{
    position: relative;
    width: 58vw;
    height: 45px;

    top: 20%;

    background: #e7e7e7;
    border-radius: 10px;
}

.search-horti #LogoFind{
    margin-top: 1%;
    margin-left: 2%;
}

.text-search-horti input[type="text"] {
    position: absolute;
    width: 50vw;
    height: 28px;

    left: 7%;
    top: 20%;
    background: #e7e7e7;

    margin-left: 1%;

    border: none;
    outline: none;

    color: #acacac;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    border-radius: 10px;
}

.chat{
    position: relative;
    width: 30vw;
    height: 45px;
    
    top: 20%;
    left: 2%;

    background: #e7e7e7;
    border-radius: 10px;
}

.chat #LogoChat{
    position: relative;
    left: 8px;
    top: 9px;
}

#Inicio-Chat{
    position: absolute;
    left: 18%;
    top: 30%;
    width: 21vw;
    text-align: left;

    border: none;
    border-radius: 10px;
    background: transparent;
    padding: 0;
    color: #acacac;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.produtos{
    position: absolute;
    width: 90vw;
    height: auto;

    left: 5%;
    top: 97%;
}


ul{
    position: relative;
    list-style: none;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}

li{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li > img{
    height: 125px;
    width: 125px;
    object-fit: cover;

    border-radius: 8px;
}

.info-produto{
    margin-top: 5%;
    text-align: center;
}

#preco-com-desconto{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;

    color: #00AA95;
}

.desconto-1{
    border-radius: 5px;
    background: #00AA95;
    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
}

.preco-sem-desconto{
    color: #00AA95;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
}

.info-produto h5{
    color: #686868;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;

}

.info-produto p{
    color: #969696;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 29px;

}
