* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --background : #fff;
    --button-enter: #00AA95;
}

body {
    height: 100vh;
    background-color: var(--background);
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}


textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

img {
    max-width: 70%;
    height: auto;
}

.container-logo {
position: absolute;
top: 0;
left: 0;
margin: 10px 2rem;
}

.ballOne {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
}

.ballTwo {
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;

}

.container-login {
    height: 60%;
    width: 35%;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3%;

    position: relative;
}

.container-login-title {
    font-size: 3.375rem;
    
}

.container-login-inputs{
    height: 50%;
    width: 70%;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-login-inputs input {
    height: 50%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #D7D7D7;
}

.container-login-email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container-login-buttons {
    margin-bottom: 10%;
    width: 70%;
    display: flex;
    gap: 10px;

}
.button-forget {
    text-align: end;
}

.container-login-buttons button {
    height: 100%;
    width: 50%;
}

#enter {
    background-color: var(--button-enter) ;
    border-style: none;
    border-radius: 10px;
    padding: 5px;

    font-size: 1.3rem;
    color: var(--background);
}

#enter a:link {
    color:var(--background);
    text-decoration:none;
}

#enter a:visited {
    color:var(--background);
    text-decoration:none;
}

#register {
    background-color: transparent;
    border-style: none;
    color: var(--button-enter);
    font-size: 1.3rem;
}

#register a:link {
    color:var(--button-enter);
    text-decoration:none;
}

#register a:visited {
    color:var(--button-enter);
    text-decoration:none;
}

#forget {
    background-color: transparent;
    border-style: none;
    color: var(--button-enter);
    font-size: 1.3rem;
}

#forget a:link {
    color:var(--button-enter);
    text-decoration:none;
}

#forget a:visited {
    color:var(--button-enter);
    text-decoration: none;
}